body{background-color: #faf5f5;
    border-style: solid;
    border-radius: 15px;}
    
     }
        table, td, th {
            border: 1px solid black;
        }
     th, td { 
         padding:15px;
          }
    p.a{
        font-size: 150%; text-align: center;
        background-color: #145c5c;
    }
    
    p.b{
        font-size: 130%; text-align: left;
    }
    p.c{
        font-size: 200%; text-align:right;
    }
    